@using App.Models.Product
@model App.Models.Product.ProductModel

@{
    ViewData["Title"] = Model.Title;
}


<div class="detail-post">
    <h1>@Model.Title</h1>

    <div><p>Price: <strong>@Model.Price</strong></p></div>

    <a asp-action="AddToCart" asp-route-productid="@Model.ProductId" class="btn btn-success">
        Dat hang
    </a>

    <div>
        <i>Update: @Model.DateUpdated</i>
    </div>
    <div>
        Author: <a asp-area="Community" asp-controller="ViewUser" asp-action="Index" asp-route-name="@Model.Author.UserName">
            <strong>@Model.Author.UserName</strong>
        </a>
    </div>

    @if(Model.Photos.Any())
    {
        <div class="d-flex flex-wrap">
            @foreach(var photo in Model.Photos)
            {
                <img class="w-50" src="/contents/Products/@photo.FileName">
            }
        </div>
    }

    <hr>
    @Html.Raw(Model.Description)
    <div>
        <a class="site-a-blue" asp-area="Product" asp-controller="ViewProduct" asp-action="Index">Back to list</a>
    </div>
</div>
