@using App.Areas.Product.Models
@using App.Models.Product;

@model SelectFilters

@{
    CategoryProductModel categoryChoosed = ViewBag.categoryChoosed as CategoryProductModel;
    ViewData["Title"] = (categoryChoosed != null) ? categoryChoosed.Title : "Shop";

    List<CategoryProductModel> categories = ViewBag.categories as List<CategoryProductModel>;
    List<ProductModel> Products = ViewBag.productsInPage as List<ProductModel>;
    var MSLCategories = ViewBag.MSLCategories as MultiSelectList;
    var filterSelected = ViewBag.filterSelected as List<int>;
    var seachBar = ViewBag.searchBar as string;
}

@* List Products *@
<h1>@ViewData["Title"]</h1>

@* Kiem tra danh sach lua chon fiters de save thong tin lua chon *@
@{
    var fs1 = false;
    var fs2 = false;
    var fs3 = false;
    var fs4 = false;
    if (filterSelected != null)
    {
        foreach(var fs in filterSelected)
        {
            if (fs == 101)
                fs1 = true;
            else if (fs == 102)
                fs2 = true;
            else if (fs == 103)
                fs3 = true;
            else if (fs == 104)
                fs4 = true;
        }
    }
}

@if (categoryChoosed != null){
    <p>@categoryChoosed.Content</p>
}
else
{
    <p>All Product</p>
}


@* Filter *@
<div class="shadow w-50">
    <form method="post" asp-action="ListFilter" asp-area="Product" asp-controller="ViewProduct" class="mx-1 my-1">
        <i class="fas fa-filter"></i> Filter
        <div class="form-group w-25">
            <label asp-for="selectFilters" class="control-label"></label>
            <select asp-for="selectFilters" id="MSLFilter" class="w-100">
                <option selected="@fs1" value="101">Last</option>
                <option selected="@fs2" value="102">Old Update</option>
                <option selected="@fs3" value="103">Price High</option>
                <option selected="@fs4" value="104">Price Low</option>
            </select>
        </div>

        <div class="form-group w-25">
            <label asp-for="selectCategories" class="control-label"></label>
            <select  asp-for="selectCategories" id="MSLCategories" asp-items="MSLCategories" multiple="multiple" class="w-100"></select>
        </div>
        <br>
        @* <i class="fas fa-search"></i> Search *@
        <div class="form-group">
            <input asp-for="SearchBar" value="@seachBar" class="w-75 form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </div>
        
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-sm btn-outline-success  my-2" />
        </div>
    </form>
</div>

<hr>

<div id="card-product" class="d-flex flex-wrap">
    @* <div id="box-product" >
    </div> *@

    @foreach(var product in Products)
    {
        var srcImg = "/contents/noImg.png";
        if (product.Photos.Any())
        {
            srcImg = $"/contents/Products/{product.Photos.FirstOrDefault().FileName}";
        }

        <div class="card mb-2">
            <img src="@srcImg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
                <p class="card-text text-truncation">@product.Description</p>
                <p>
                    <i>
                        <small>
                            @string.Join(", " , product.ProductCategoryProducts.Select(pc => pc.CategoryProduct.Title))
                        </small>
                    </i>
                </p>
                <a class="card-link site-a-blue" asp-area="Product" asp-controller="ViewProduct" asp-action="Detail" asp-route-productslug="@product.Slug">
                    <u>Detail</u>
                </a>
            </div>

            <div class="card-footer text-center">
                <p class="">Price: <strong>@product.Price $</strong></p>
                <hr>
                <div id="box-cart">
                    <span onclick="AddToCart(@product.ProductId)" class="btn btn-success mx-2">
                        Add to cart
                    </span>
                </div>
                
            </div>
        </div>
    }

</div>

<partial name="_PagingXTL" model="@ViewBag.pagingmodel" />

@section Scripts
{
    <link rel="stylesheet" href="~/lib/multiple-select/multiple-select.min.css" />
    <script src="~/lib/multiple-select/multiple-select.min.js"></script>

    <script>
        $("#MSLFilter").multipleSelect({
            single: true,
        });

        $("#MSLCategories").multipleSelect({
            placeholder: "none",
            selectAll: false,
            keepOpen: false,
            isOpen: false,
        });
    </script>

    <script>
        var timer;
        function AddToCart (id)
        {
            var formData = new FormData();
            formData.append("id", id);
            var urlAction = "@Url.Action("AddToCart", "Cart")";
            $.ajax({
                data: formData,
                cache: false,
                url: urlAction,
                type: "POST",
                contentType: false,
                processData: false,
                success: function(data)
                {
                    if(data.success === 1)
                    {
                        @* clearInterval(timer); *@
                        clearTimeout(timer);
                        ShowNotifCart(data.productname);
                        UpdateQuantityCart();
                    }
                    else if (data.success === 0)
                    {
                        window.location.replace(data.url);
                        @* alert("Login!"); *@
                    }
                }
            });
        };

        function ShowNotifCart(productname)
        {
            $("#content-notif-cart").empty().append("Thêm " + "<strong>"+productname+"</strong>" + " vào giỏ hàng thành công!");
            $("#liveToast").removeClass("hide");
            $("#liveToast").addClass("show");
            timer = setTimeout(() => {
                $("#liveToast").removeClass("show");
                $("#liveToast").addClass("hide");
            }, 3000);
        }

        function UpdateQuantityCart ()
        {
            var box = $("#cart-partial");
            box.empty();
            var formData = new FormData();
            var urlAction = "@Url.Action("LoadCartCount", "Cart")";

            $.ajax({
                data: formData,
                cache: false,
                url: urlAction,
                type: "POST",
                contentType: false,
                processData: false,
                success: function(data)
                {
                    console.log(data.count);
                    // load cart
                    var e = $(
                        '<a class="link-danger nav-link" style="text-decoration: none;"'+
                            'href=" '+ data.url +' " >'+
                            '<i class="fas fa-shopping-cart"> Cart('+ data.count +') </i>'+
                        '</a>'
                    );
                    box.append(e);
                }
            });
        }

    </script>
}