@using App.Models.Product;

@model List<ProductModel>

@{
    List<CategoryProductModel> categories = ViewBag.categories as List<CategoryProductModel>;
    CategoryProductModel categoryChoosed = ViewBag.categoryChoosed as CategoryProductModel;
    ViewData["Title"] = (categoryChoosed != null) ? categoryChoosed.Title : "Skins";
}

@* List Products *@
<h1>@ViewData["Title"]</h1>

@if (categoryChoosed != null){
    <p>@categoryChoosed.Content</p>
}
else
{
    <p>Toàn bộ Skins</p>
}

<hr>

<style>
    .card-product{
        width: 20%;
        background-color: rgb(41, 41, 41);
        color: white;
    }

    .image-edit{
        height: 50%;
        width: 100%;
    }
</style>

<div class="d-flex flex-wrap justify-content-between">
    @foreach(var product in Model)
    {
        var srcImg = "/contents/noImg.png";
        if (product.Photos.Any())
        {
            srcImg = $"/contents/Products/{product.Photos.FirstOrDefault().FileName}";
        }

        <div class="card card-product mb-2">
            <img src="@srcImg" class="card-img-top image-edit" alt="...">
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
                <p class="card-text text-truncation">@product.Description</p>
                <p>
                    <i class="text-danger">
                        @string.Join(", " , product.ProductCategoryProducts.Select(pc => pc.CategoryProduct.Title))
                    </i>
                </p>
            </div>

            <div class="card-footer">
                <p class="text-center">Price: <strong>@product.Price $</strong></p>
                <hr>
                <a class="card-link site-a-blue" asp-area="Product" asp-controller="ViewProduct" asp-action="Detail" asp-route-productslug="@product.Slug">
                    Xem chi tiet
                </a>
                <a asp-action="AddToCart" asp-route-productid="@product.ProductId" class="btn btn-success mx-2">
                    Đặt hàng
                </a>
            </div>
        </div>
    }
</div>


<partial name="_PagingXTL" model="@ViewBag.pagingmodel" />