@model IEnumerable<App.Models.Product.ProductModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";

}

<h1>Product Manager</h1>

<partial name="_AlertMessage"></partial>

<p>
    <a class="btn btn-primary btn-sm" asp-action="Create">Create New</a>
</p>

<p>Total Product: @ViewBag.totalproducts</p>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(++ViewBag.productIndex)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Title)
                <br>
                <small>
                    @string.Join(", " , item.ProductCategoryProducts.Select(pcp => pcp.CategoryProduct.Title))
                </small>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdated)
            </td>
            
            <td>
                <a class="site-a-blue" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a class="site-a-blue" asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a class="site-a-red" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<partial name="_PagingXTL" model="@ViewBag.pagingmodel" />
