@using App.Models
@using App.Models.Product
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> _userManager

@model App.Models.Contact.ContactModel

@{
    ViewData["Title"] = "Home Page";
    var products = ViewBag.products as IQueryable<ProductModel>;
}

<style>
    .sidebar-left{
        background-color: rgb(255, 255, 255);
        opacity: 0.5;
        width: 5%;
        height: 25%;
        position: fixed;
        border-radius: 5%;
        left: 0;
        bottom: 50%;
        &:hover{
            opacity: 1;
        }
    }
    .sbl-item{
        font-size: 20px;
    }
</style>

<div class="sidebar-left navbar-collapse collapse d-sm-inline-flex justify-content-center">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="sbl-item nav-link" href="#home-scroll">
                <i class="fas fa-home"></i> 
            </a>
        </li>
        <li class="nav-item">
            <a class="sbl-item nav-link" href="#contact-scroll">
                <i class="far fa-address-card"></i> 
            </a>
        </li>
        <li class="nav-item">
            <a class="sbl-item nav-link" href="#about-scroll">
                <i class="fas fa-info-circle"></i> 
            </a>
        </li>
    </ul>
</div>

<partial name="_AlertMessage"></partial>

<section id="home-scroll">
    <br><br><br><br>
</section>

<div class="text-center">
    <h1 class="display-4">Welcome to <a class="text-info" style="text-decoration: none;"><strong>TradeShop</strong></a></h1>
    <p>Login or register now to get more special gift!</p>
</div>

@if(string.IsNullOrEmpty(_userManager.GetUserName(User)) == true)
{
    <div class="text-center">
        <a class="link-primary w-25" style="text-decoration: none; font-weight: 700;" 
            asp-area="Identity" asp-controller="Account" asp-action="Login">Login now!</a>
        <br>
        <a class="link-primary w-25" style="text-decoration: none; font-weight: 700;" 
            asp-area="Identity" asp-controller="Account" asp-action="Register">Register now!</a>
    </div>
}

<br><br><br><br><br><br><br><br><br>

<h2 class="text-center">New Update!</h2><br>

<div id="card-product" class="d-flex flex-wrap">
    @foreach(var product in products)
    {
        var srcImg = "/contents/noImg.png";
        if (product.Photos.Any())
        {
            srcImg = $"/contents/Products/{product.Photos.FirstOrDefault().FileName}";
        }

        <div class="card mb-2">
            <img src="@srcImg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
                <p class="card-text text-truncation">@product.Description</p>
                <p>
                    <i>
                        <small>
                            @string.Join(", " , product.ProductCategoryProducts.Select(pc => pc.CategoryProduct.Title))
                        </small>
                    </i>
                </p>
                <a class="card-link" asp-area="Product" asp-controller="ViewProduct" asp-action="Detail" asp-route-productslug="@product.Slug" style="text-decoration:none;">
                    Detail
                </a>
            </div>

            <div class="card-footer text-center">
                <p>Price: <strong>@product.Price $</strong></p>
                <div id="box-cart">
                    <span onclick="AddToCart(@product.ProductId)" class="btn btn-success mx-2">
                        Add to cart
                    </span>
                </div>
            </div>
        </div>
    }
</div>

<section id="contact-scroll">
    <br> <br> <hr>
</section>

<h2 class="text-center">Contact</h2>
<div class="d-flex justify-content-center">
    <div class="w-50">
        <form asp-controller="Contact" asp-area="Contact" asp-action="SendContact" method="post">
            <div class="form-group mb-2">
                <input placeholder="Your Full Name" asp-for="@Model.FullName" class="form-control" />
                <span asp-validation-for="@Model.FullName" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <input placeholder="Email" asp-for="@Model.Email" class="form-control" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <input placeholder="Phone" asp-for="@Model.Phone" class="form-control" />
                <span asp-validation-for="@Model.Phone" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <textarea rows="4" placeholder="Message..." asp-for="@Model.Message" class="form-control" ></textarea>
                <span asp-validation-for="@Model.Message" class="text-danger"></span>
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-user btn-block">Send Contact</button>
        </form>
    </div>
</div>

<section id="about-scroll">
    <br> <br> <hr>
</section>

<h2 class="text-center">About Us!</h2> <br>
<div>
    <div class="row">
        <dir class="col-6">
            <img class="w-100" src="/contents/building1.jpg">
        </dir>
        <dir class="col-6">
            <img class="w-100" src="/contents/building2.jpg">
        </dir>
    </div>

    <div class="row">
        <dir class="col-6">
            <img class="w-100" src="/contents/building1.jpg">
        </dir>
        <dir class="col-6">
            <img class="w-100" src="/contents/building2.jpg">
        </dir>
    </div>
</div>

<a asp-controller="Home" asp-action="TestAPI">testapi</a>




@section Scripts{
    <script>
        var timer;
        function AddToCart (id)
        {
            var formData = new FormData();
            formData.append("id", id);
            var urlAction = "@Url.Action("AddToCart", "Cart")";

            $.ajax({
                data: formData,
                cache: false,
                url: urlAction,
                type: "POST",
                contentType: false,
                processData: false,
                success: function(data)
                {
                    if(data.success === 1)
                    {
                        @* clearInterval(timer); *@
                        clearTimeout(timer);
                        ShowNotifCart(data.productname);
                        UpdateQuantityCart();
                    }
                    else if (data.success === 0)
                    {
                        window.location.replace(data.url);
                        @* alert("Login!"); *@
                    }
                }
            });
        };

        function ShowNotifCart(productname)
        {
            $("#content-notif-cart").empty().append("Thêm " + "<strong>"+productname+"</strong>" + " vào giỏ hàng thành công!");
            $("#liveToast").removeClass("hide");
            $("#liveToast").addClass("show");
            timer = setTimeout(() => {
                $("#liveToast").removeClass("show");
                $("#liveToast").addClass("hide");
            }, 3000);
        }

        function UpdateQuantityCart ()
        {
            var box = $("#cart-partial");
            box.empty();
            var formData = new FormData();
            var urlAction = "@Url.Action("LoadCartCount", "Cart")";

            $.ajax({
                data: formData,
                cache: false,
                url: urlAction,
                type: "POST",
                contentType: false,
                processData: false,
                success: function(data)
                {
                    console.log(data.count);
                    // load cart
                    var e = $(
                        '<a class="link-danger nav-link" style="text-decoration: none;"'+
                            'href=" '+ data.url +' " >'+
                            '<i class="fas fa-shopping-cart"> Cart('+ data.count +') </i>'+
                        '</a>'
                    );
                    box.append(e);
                }
            });
        }

    </script>

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}