@using App.Models
@using App.Models.Product
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> _userManager
@{
    ViewData["Title"] = "Home Page";
    var products = ViewBag.products as IQueryable<ProductModel>;
}


<partial name="_AlertMessage"></partial>

<div class="text-center">
    <h1 class="display-4">Welcome to <a class="text-info" style="text-decoration: none;"><strong>TradeGun</strong></a></h1>
    <p>Trade or buy any weapons REALIZE from here!</p>

</div>

@if(string.IsNullOrEmpty(_userManager.GetUserName(User)) == true)
{
    <div class="text-center">
        <br>
        <br>
        <br>
        <h3 style="color: rgb(12, 118, 210);">Login now to get special Weapon !!!!!!!!</h3>
        <br>
        <a class="btn btn-info w-25" asp-area="Identity" asp-controller="Account" asp-action="Login"><strong>LOGIN</strong></a>
        <br>
        <br>
        <br>
    </div>
}
else
{
    <br>
    <br>
    <br>
    <br>
    <br>
}

<h4 class="text-center"><strong>New Weapon Update!</strong></h4>
<br>

<div id="card-product" class="d-flex flex-wrap">
    @foreach(var product in products)
    {
        var srcImg = "/contents/noImg.png";
        if (product.Photos.Any())
        {
            srcImg = $"/contents/Products/{product.Photos.FirstOrDefault().FileName}";
        }

        <div class="card mb-2">
            <img src="@srcImg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
                <p class="card-text text-truncation">@product.Description</p>
                <p>
                    <i>
                        <small>
                            @string.Join(", " , product.ProductCategoryProducts.Select(pc => pc.CategoryProduct.Title))
                        </small>
                    </i>
                </p>
                <a class="card-link" asp-area="Product" asp-controller="ViewProduct" asp-action="Detail" asp-route-productslug="@product.Slug" style="text-decoration:none;">
                    Detail
                </a>
            </div>

            <div class="card-footer text-center">
                <p>Price: <strong>@product.Price $</strong></p>
                <a asp-area="Product" asp-controller="ViewProduct" asp-action="AddToCart" asp-route-productid="@product.ProductId" class="btn btn-success">
                    Đặt hàng
                </a>
            </div>
        </div>
    }
</div>

