@using App.Models
@using App.Models.Product
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> _userManager
@{
    ViewData["Title"] = "Home Page";
    var products = ViewBag.products as IQueryable<ProductModel>;
}


<partial name="_AlertMessage"></partial>

<div class="text-center">
    <h1 class="display-4">Welcome to <a class="text-info" style="text-decoration: none;"><strong>TradeGun</strong></a></h1>
    <p>Trade or buy any weapons from here!</p>

</div>

@if(string.IsNullOrEmpty(_userManager.GetUserName(User)) == true)
{
    <div class="text-center">
        <br>
        <br>
        <br>
        <h3 style="color: rgb(12, 118, 210);">Login now!<h3>
        <a class="btn btn-info w-25" asp-area="Identity" asp-controller="Account" asp-action="Login"><strong>LOGIN</strong></a>
        <br>
        <br>
        <br>
    </div>
}
else
{
    <br>
    <br>
    <br>
    <br>
    <br>
}

<h4 class="text-center"><strong>New Update!</strong></h4>
<br>

<div id="card-product" class="d-flex flex-wrap">
    @foreach(var product in products)
    {
        var srcImg = "/contents/noImg.png";
        if (product.Photos.Any())
        {
            srcImg = $"/contents/Products/{product.Photos.FirstOrDefault().FileName}";
        }

        <div class="card mb-2">
            <img src="@srcImg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
                <p class="card-text text-truncation">@product.Description</p>
                <p>
                    <i>
                        <small>
                            @string.Join(", " , product.ProductCategoryProducts.Select(pc => pc.CategoryProduct.Title))
                        </small>
                    </i>
                </p>
                <a class="card-link" asp-area="Product" asp-controller="ViewProduct" asp-action="Detail" asp-route-productslug="@product.Slug" style="text-decoration:none;">
                    Detail
                </a>
            </div>

            <div class="card-footer text-center">
                <p>Price: <strong>@product.Price $</strong></p>
                <div id="box-cart">
                    <span onclick="AddToCart(@product.ProductId)" class="btn btn-success mx-2">
                        Đặt hàng
                    </span>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script>
        var timer;
        function AddToCart (id)
        {
            var formData = new FormData();
            formData.append("id", id);
            var urlAction = "@Url.Action("AddToCart", "ViewProduct")";

            $.ajax({
                data: formData,
                cache: false,
                url: urlAction,
                type: "POST",
                contentType: false,
                processData: false,
                success: function(data)
                {
                    clearTimeout(timer);
                    ShowNotifCart(data.productname);
                    UpdateQuantityCart();
                }
            });
        };

        function ShowNotifCart(productname)
        {
            $("#content-notif-cart").empty().append("Thêm " + "<strong>"+productname+"</strong>" + " vào giỏ hàng thành công!");
            $("#liveToast").removeClass("hide");
            $("#liveToast").addClass("show");
            timer = setTimeout(() => {
                $("#liveToast").removeClass("show");
                $("#liveToast").addClass("hide");
            }, 3000);
        }

        function UpdateQuantityCart ()
        {
            var box = $("#cart-partial");
            box.empty();
            var formData = new FormData();
            var urlAction = "@Url.Action("LoadCartCount", "ViewProduct")";

            $.ajax({
                data: formData,
                cache: false,
                url: urlAction,
                type: "POST",
                contentType: false,
                processData: false,
                success: function(data)
                {
                    console.log(data.count);
                    // load cart
                    var e = $(
                        '<a class="link-danger mx-2" style="text-decoration: none;"'+
                            'href=" '+ data.url +' " >'+
                            '<i class="fas fa-shopping-cart"> Giỏ hàng('+ data.count +') </i>'+
                        '</a>'
                    );
                    box.append(e);
                }
            });
        }

    </script>
}