@using App.Models
@using App.Models.Product
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> _userManager

@{
    ViewData["Title"] = "Home Page";
    var products = ViewBag.products as IQueryable<ProductModel>;

}

<partial name="_AlertMessage"></partial>

<style>
    .card-product{
        width: 24%;
        background-color: rgb(41, 41, 41);
        color: white;
    }
</style>

<div class="text-center">
    <h1 class="display-4 text-white">Welcome to <a class="text-info" style="text-decoration: none;">TradeCSGO</a></h1>
    <p class="text-white">Trade or buy any skin weapons CSGO from here!</p>

</div>

@if(string.IsNullOrEmpty(_userManager.GetUserName(User)) == true)
{
    <div class="text-center">
        <br>
        <br>
        <br>
        <h3 style="color: rgb(12, 118, 210);">Login now to get special SKIN !!!!!!!!</h3>
        <br>
        <a class="btn btn-info w-25" asp-area="Identity" asp-controller="Account" asp-action="Login"><strong>LOGIN</strong></a>
        <br>
        <br>
        <br>
    </div>
}


@* <div class="d-flex flex-wrap justify-content-between">
    @foreach(var product in products)
    {
        var srcImg = "/contents/noImg.png";
        if (product.Photos.Any())
        {
            srcImg = $"/contents/Products/{product.Photos.FirstOrDefault().FileName}";
        }

        <div class="card mb-2 card-product">
            <img src="@srcImg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
                <p class="card-text text-truncation">@product.Description</p>
                <p>
                    <i class="text-danger">
                        @string.Join(", " , product.ProductCategoryProducts.Select(pc => pc.CategoryProduct.Title))
                    </i>
                </p>
            </div>

            <div class="card-footer">
                <p class="text-center">Price: <strong>@product.Price $</strong></p>
                <a class="card-link" asp-area="Product" asp-controller="ViewProduct" asp-action="Detail" asp-route-productslug="@product.Slug" style="text-decoration:none;">
                    Xem chi tiet
                </a>
                <a asp-action="AddToCart" asp-route-productid="@product.ProductId" class="btn btn-success mx-2">
                    Đặt hàng
                </a>
            </div>
        </div>
    }
</div> *@
