@using Microsoft.AspNetCore.Mvc.Routing
@inject App.Services.UrlHelperService urlHelperService


<hr class="sidebar-divider my-1">

<div class="sidebar-heading">Manager</div>

<li class="nav-item">
    <a class="nav-link" href="/database-manage/Index">
        <i class="fas fa-database"></i>
        <span>Database Manage</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="@urlHelperService.GetLink("Index", "Contact", "Contact")">
        <i class="far fa-address-card"></i>
        <span>Contact Manage</span></a>
</li>
<li class="nav-item">
    <a target="_blank" class="nav-link" href="@urlHelperService.GetLink("Index", "FileManager", "Files")">
        <i class="fas fa-file-image"></i>
        <span>Files Manage</span></a>
</li>

<li class="nav-item">
    <a class="nav-link" href="@urlHelperService.GetLink("ManagerOrder", "Order", "Order")">
        <i class="fas fa-archive"></i>
        <span>Order Manage</span></a>
</li>

<hr class="sidebar-divider my-1">

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#RolesAndUsers"
        aria-expanded="true" aria-controls="RolesAndUsers">
        <i class="far fa-folder"></i> <span>Roles and Members</span> 
    </a>
    
    <div id="RolesAndUsers" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="@urlHelperService.GetLink("Index", "Role", "Identity")">Role Manage</a>
            <a class="collapse-item" href="@urlHelperService.GetLink("Index", "User", "Identity")">User Manage</a>
        </div>
    </div>
</li>

<hr class="sidebar-divider my-1">

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#ProductManage"
        aria-expanded="true" aria-controls="ProductManage">
        <i class="far fa-folder"></i> <span>Product Manage</span> 
    </a>
    
    <div id="ProductManage" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="@urlHelperService.GetLink("Index", "CategoryProduct", "Product")">Category Product</a>
            <a class="collapse-item" href="@urlHelperService.GetLink("Index", "ProductManage", "Product")">Products</a>
        </div>
    </div>
</li>